---
import Logo from './Logo.astro'
---

<header>
  <div class="flex items-center mt-2">
    <span class="text-2xl text-slate font-extrabold mr-1">SeanGPT</span>
  </div>
  <p mt-1 text-slate op-60>OpenAI GPT-3.5-turbo API</p>
</header>