---
import Logo from './Logo.astro'
---

<header>
  <Logo />
  <div class="flex items-center mt-2">
    <span class="text-2xl text-slate font-extrabold mr-1">SeanGPT</span>
  </div>
  <p mt-1 text-slate op-60>基于OpenAI GPT-3.5-turbo API搭建。</p>
</header>